# Activation du module de réécriture d'URL :
RewriteEngine on

# Règle page défaut + ancre (mettre en avant dernier)
RewriteRule ^(.*).html#(.*) $1.php#$2 [L]

# Règle par défaut (mettre en dernier) :
RewriteRule ^(.*).html$ $1.php [L]